<h1>{{message}}</h1>

<div class="card m-3 p-5 border-0">
  <h5 class="card-header">Welcome</h5>
  <div class="card-body">
    <h5 class="card-title">You have sucessfully loggedIn</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="/user/logout">
    <button type="submit" class="btn btn-danger">Logout</button>
    </a>
  </div>
</div>